export JWT_SECRET=my-secret-key
export DEVICE_SERVICE=http://localhost:8090/device
export USER_SERVICE=http://localhost:8090/user
export MOSQUITTO_USERNAME="mosquitto"
export MOSQUITTO_PASSWORD="mosquitto"
export DATA_API="http://localhost:8090"